<a [routerLink]="['/']">
  <h1><img width="50" src="https://www.pikpng.com/pngl/m/111-1116057_paper-airplane-outline-comments-paper-plane-logo-png.png" alt="Plane and Simple Logo"></h1>
</a>
<a [routerLink]="['/']">
  <h1>Plane and Simple</h1>
</a>

<a [routerLink]="['/search']" class="button fancy-button"><i class="material-icons">search</i>Search</a>

<a [routerLink]="['/filter']" class="button fancy-button"><i class="material-icons">filter_list</i>Filter</a>

<a [routerLink]="['/graph']" class="button fancy-button"><i class="material-icons">grid_on</i>Graph</a>

<a [routerLink]="['/compare']" class="button fancy-button"><i class="material-icons">compare</i>Compare</a>

<a [routerLink]="['/build']" class="button fancy-button"><i class="material-icons">build</i>Build</a>

<!-- 
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
-->